Repository Armor-test/storage-adapter-852, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/grp-api, @Armor-test/squad-ux, @Armor-test/team-core, @Armor-test/squad-qa, @Armor-test/team-notifications, @Armor-test/squad-cloud, @Armor-test/squad-ml, @Armor-test/unit-governance, @Armor-test/squad-reporting, @Armor-test/squad-research, @Armor-test/team-logging, @Armor-test/dept-identity, @Armor-test/grp-storage, @Armor-test/squad-tooling, @Armor-test/grp-integration, @Armor-test/squad-apps, @Armor-test/squad-payments, @Armor-test/grp-reporting, @Armor-test/squad-frontend, @Armor-test/team-governance, @Armor-test/grp-search, @Armor-test/team-reporting, @Armor-test/grp-payments, @Armor-test/dept-release, @Armor-test/squad-cache, @Armor-test/dept-test, @Armor-test/unit-cloud, @Armor-test/squad-search, @Armor-test/dept-reporting, @Armor-test/squad-mobile, @Armor-test/unit-test, @Armor-test/team-security, @Armor-test/dept-security, @Armor-test/dept-data, @Armor-test/squad-performance, @Armor-test/grp-ui, @Armor-test/dept-ui, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/auth-team, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/compliance

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/grp-api, @Armor-test/squad-ux, @Armor-test/team-core

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/grp-api, @Armor-test/squad-ml

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/grp-api, @Armor-test/squad-ux, @Armor-test/team-core

Add src/main.py
  src/main.py
Owners: @Armor-test/grp-api, @Armor-test/squad-ux, @Armor-test/team-core

Add src/index.js
  src/index.js
Owners: @Armor-test/squad-search, @Armor-test/dept-reporting, @Armor-test/squad-mobile

.github/CODEOWNERS:

# CODEOWNERS file for storage-adapter-852
# Global owners - will be requested for all PRs
* @Armor-test/grp-api @Armor-test/squad-ux @Armor-test/team-core

# Directory ownership
/pages/ @Armor-test/squad-qa @Armor-test/team-notifications @Armor-test/squad-cloud
/docs/ @Armor-test/grp-api @Armor-test/squad-ml
/spec/ @Armor-test/unit-governance @Armor-test/squad-reporting
/vendor/ @Armor-test/squad-research @Armor-test/team-logging
/hooks/ @Armor-test/squad-ux @Armor-test/team-logging
/db/ @Armor-test/dept-identity @Armor-test/grp-storage @Armor-test/squad-tooling
/common/ @Armor-test/unit-governance @Armor-test/grp-integration @Armor-test/squad-apps
/middleware/ @Armor-test/squad-payments @Armor-test/squad-ml @Armor-test/squad-reporting
/scripts/ @Armor-test/grp-reporting @Armor-test/squad-frontend @Armor-test/team-governance
/examples/ @Armor-test/grp-search @Armor-test/team-reporting @Armor-test/team-core
/models/ @Armor-test/grp-payments @Armor-test/squad-payments @Armor-test/dept-identity

# File type ownership
*.xml @Armor-test/dept-release @Armor-test/squad-cache
*.gradle @Armor-test/dept-test @Armor-test/unit-cloud
*.js @Armor-test/squad-search @Armor-test/dept-reporting @Armor-test/squad-mobile
*.sh @Armor-test/unit-test @Armor-test/team-security @Armor-test/squad-mobile
*.css @Armor-test/team-logging @Armor-test/squad-reporting
*.kt @Armor-test/team-security @Armor-test/team-notifications @Armor-test/team-reporting
*.java @Armor-test/dept-security @Armor-test/dept-reporting @Armor-test/squad-ux
*.ts @Armor-test/unit-cloud @Armor-test/squad-ml
*.cpp @Armor-test/squad-apps @Armor-test/dept-data @Armor-test/squad-performance
*.md @Armor-test/grp-reporting @Armor-test/grp-ui
*.go @Armor-test/squad-mobile @Armor-test/dept-release
*.php @Armor-test/unit-governance @Armor-test/dept-ui @Armor-test/team-reporting

# Security and special files
package.json @Armor-test/dependency-team @Armor-test/security
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
/src/**/security/ @Armor-test/security @Armor-test/compliance
